/* .portrait  */
.portraitportraitAnm{
  width: 359px;
  height: 802px;
  background-image: url(images/portrait1.jpg);
   /* margin: 0px auto;   */
  background-position: center;
  animation: portraitAnm 10s infinite;
  background-size: 100%;
  /* background-position: fixed; */
  /* padding-top: 28%; /* 16:9 */ */ */ */
  background-repeat: no-repeat;
}

@keyframes portraitAnm {
  33% {
    background-image: url(images/portrait1.jpg);
  }
  66% {
    background-image: url(images/portrait2.jpg);
  }
  100% {
    background-image: url(images/portrait3.jpg);
  }
}
