.portrait {
  width: 359px;
  height: 802px;
  background-image: url(images/portrait1.jpg);
  margin: 100px auto;
  animation: portraitAnm 10s infinite;
}

@keyframes portraitAnm {
  33% {
    background-image: url(images/portrait1.jpg);
  }
  66% {
    background-image: url(images/portrait2.jpg);
  }
  100% {
    background-image: url(images/portrait3.jpg);
  }
}
