
@@keyframes portrait {
  25% {
    background-image: url(images/Amanda.jpg);
  }
  50% {
    background-image: url(images/Amanda.jpg);
  }
  75% {
    background-image: url(images/me3.jpg);
  }
  100% {
    background-image: url(images/me4.jpg);
  }
}
